<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    
    <%= form_tag(post_path, method: :patch) do %>

      <div class="form">
        <div class="form-body">
          
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          
          <textarea name = "title" ><%= @post.title %></textarea>
          <p>参加url</p>
          
          <textarea name = "url"><%= @post.url %></textarea>
          <p>説明</p>
          
          <textarea name = "reference"><%= @post.reference %></textarea>
          <input type="submit" value="投稿">
           
        
        </div>
      </div>
    <% end %>
  </div>
</div>