<div class="main posts-show">
  <div class="container_show">
    <div class="posts-show-item">
      <p>
        <%= @post.title%>
      </p>
      <p>
        <%= link_to '<参加するボタン>', @post.url %>
      </p>
      <p>
        <%= @post.reference%>
      </p>
      <div class="post-time">
        <%= @post.created_at%>
      </div>
       <div class="post-menus">
        <%= link_to("編集", "/posts/#{@post.id}/edit") %>
        <%= link_to("削除", "/posts/#{@post.id}/destroy",{method:"post"}) %>
      </div>
    </div>
    
  </div>
</div>