<!DOCTYPE html>
<html>
  <head>
    <title>Slack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <div class="header-logo">
        <a href="/">Slacklist.ja</a>
      </div>
      <ul class="header-menus">
        
        <li>
          <a href="/">コミュニティ一覧</a>
        </li>
        <li>
          <a href="/posts/new">新しいコミュニティ</a>
        </li>
      </ul>
    </header>
    <% if flash[:notice]%>
      <div class = "flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
